{% extends "base.html" %}

{% block title %}首頁{% endblock %}

{% block content %}
<div class="container">
    <h1>歡迎來到食譜吧</h1>
    <div class="recipe-list">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <h3><a href="{{ url_for('recipe_page', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h3>
                <p>{{ recipe.description }}</p>
                {% if recipe.image %}
                    <div class="recipe-card-image">
                        <img src="{{ url_for('static', filename='images/' ~ recipe.image) }}" alt="{{ recipe.title }}">
                    </div>
                {% endif %}
                <a href="{{ url_for('recipe_page', recipe_id=recipe.id) }}" class="btn btn-primary">查看詳情</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}