{% extends "base.html" %}  {# 繼承 base.html 文件，使用基礎模板的結構 #}

{% block body %}  {# 定義 body 區塊，覆蓋 base.html 中的 body 部分 #}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Insta-News</a>  {# 網站名稱連結至首頁 #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>  {# 行動裝置上的導航切換按鈕 #}
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/?query=latest">Home</a>  {# 連結到首頁，顯示最新新聞 #}
                <a class="nav-link" href="/?query=world">World</a>  {# 連結到世界新聞 #}
                <a class="nav-link" href="/?query=taiwan">Taiwan</a>  {# 連結到台灣新聞 #}
                <a class="nav-link" href="/?query=US">US</a>  {# 連結到美國新聞 #}
                <a class="nav-link" href="/?query=finance">Finance</a>  {# 連結到金融新聞 #}
                <a class="nav-link" href="/?query=business">Business</a>  {# 連結到商業新聞 #}
                <a class="nav-link" href="/?query=Medical">Medical</a>  {# 連結到醫療新聞 #}
                <a class="nav-link" href="/?query=health">Health</a>  {# 連結到健康新聞 #}
                <a class="nav-link" href="/?query=technology">Technology</a>  {# 連結到科技新聞 #}
                <a class="nav-link" href="/?query=it">IT</a>  {# 連結到 IT（資訊技術）新聞 #}
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="my-4 text-center">Welcome to Insta-News</h1>  {# 標題，顯示歡迎詞，並設置為居中 #}
    <form class="form-inline justify-content-center mb-4" method="get" action="/">  {# 搜索表單，方法為 GET，指向首頁 #}
        <input class="form-control mr-5" type="text" name="query" value="{{ query }}" placeholder="Search for news here...">  {# 輸入框，用於輸入搜尋關鍵字 #}
        <button id="search-btn" class="btn btn-primary" type="submit">Search</button>  {# 搜索按鈕 #}
    </form>
    <div class="row">
        {% for article in articles %}  {# 遍歷 articles 列表，顯示每篇文章 #}
        <div class="col-md-6">
            <div class="card mb-4 news-article">
                {% if article.urlToImage %}  {# 如果有圖片，則顯示圖片 #}
                <img src="{{ article.urlToImage }}" alt="picture" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>  {# 顯示文章標題並加上連結，點擊後在新標籤打開 #}
                    </h5>
                    <p class="card-text">{{ article.description }}</p>  {# 顯示文章描述 #}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}  {# 結束 body 區塊 #}
